!base_color = #e1e6fa
!highlight_color = #375d81

html
  padding-top: 0
  padding-bottom: 0
  background-color = !base_color


body
  :font
    :family 'Osaka'
    :size 12px

  &.normal
    .line
      margin: 1ex
      padding-top: 0.5ex
      padding-bottom: 0.5ex
      -webkit-border-radius: 6px

      &.text
        background-color: #ffffff

        &:after
          content: ""
          display: block
          clear: both

      &.event
        background-color = !highlight_color

      .time
        font-size: 0.9em
        float: right

    .avatar
      display: block
      float: left

    .sender
      float: left
      display: block
      width: 10ex
      font-weight: bold
      text-align: right

    .message
      display: block
      color = !base_color
      text-align: center
      margin-left: 15ex
      text-align: left

      &[type=privmsg]
        color: #000000

      &[type=notice]
        color: #666666
