html {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #e1e6fa;
}

body {
  font-family: 'Osaka';
  font-size: 12px;
}

/*
 * メインウィンドウ
 */

/* 通常行 */
body.normal .line {
  margin: 1ex;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
	-webkit-border-radius: 6px;
}

body.normal .line.text {
  background-color: #fff;
}

body.normal .line[alternate=even] {}
body.normal .line[alternate=odd] {}

/* avatorがはみ出す場合があるのでそれの対応 */
body.normal .line.text:after {
  content: "";
  display: block;
  clear: both;
}
  
body.normal .line.event {
  background-color: #375d81;
}

/* 時間 */
body.normal .line .time {
  font-size: 0.9em;
  float: right;
}

/* アイコン */
body.normal .avatar {
  display: block;
  float: left;
}

/* 発言者 */
body.normal .sender {
  float: left;
  display: block;
  width: 10ex;
  
  font-weight: bold;  
  text-align: right;
}

body.normal .line.text[type=notice] .sender {
  
  
}

/* 発言 */
body.normal .message {
  display: block;
  color: #e1e6fa;
  text-align: center;
}

body.normal .message[type=privmsg]{
  margin-left: 15ex;
  color: #000;
  text-align: left;
}

body.normal .message[type=notice]{ 
  margin-left: 15ex;
  text-align: left;
  color: #666;
}
